* {
  background: #333;
}

body {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  color: #fff;
}

input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border-color: black;
  color: #fff;
}

::placeholder {
  color: rgb(191, 191, 192);
}

#pResultado {
  font-size: 30px;
  color: #fff;
}
#calcular {
  color: #fff;
}

#calcular:hover {
  zoom: 1;
  color: rgb(255, 0, 13);
}
